<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wirelessnetworks.cloudshare"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	
    	<!-- WIDGET BROADCAST FOR UPDATES -->
        <receiver android:name=".CloudShareWidgetProvider" android:label="@string/app_name">
	    	<intent-filter>
	    		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    	</intent-filter>
	    	<meta-data android:name="android.appwidget.provider"
	    			   android:resource="@xml/cloudshare_widget_info" />
    	</receiver>
    
    	<!-- MAIN CLOUDSHARE ACTIVITIES -->
    	<activity android:name=".CloudShare"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".AboutUs" ></activity>
		<activity android:name=".CreateNetwork" ></activity>
		<activity android:name=".FindNetworks" ></activity>
    </application>
    
    
</manifest>